extends ../layout/admin 

block contenido
    h2(class="text-2xl font-extrabold text-center my-10")= pagina

    a(href="/mis-propiedades" class="rounded py-2 px-10 bg-indigo-600 hover-bg-indigo-700 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Volver

    div(class="mx-auto max-w-4xl bg-white shadow")

        if mensajes.length
           
            ul
                each mensaje in mensajes
                    li(class="border-gray-200 border-b p-5")

                        .flex
                            img(src=`/uploads/${mensaje.usuario.imagen}` class="img-fluid profile-image" width="70")
                            div.ml-5
                                p(class="font-bold text-gray-800") Nombre:
                                    span(class="font-normal")= mensaje.usuario.nombre
                                p(class="font-bold text-gray-800") Email:
                                    span(class="font-normal")= mensaje.usuario.email    
                                p(class="font-bold text-gray-800") Mensaje:
                                    span(class="font-normal")= mensaje.mensaje
                                p(class="font-bold text-gray-800") Enviado:
                                    span(class="font-normal")= formatearFecha(mensaje.createdAt)
            
            form(method="POST")
                input(type="hidden" name="_csrf" value=csrfToken)
                if mensajes.length
                    input(type="hidden" name="messageParentId" value=mensajes[mensajes.length - 1].id)
                    input(type="hidden" name="conversacionID" value=mensajes[mensajes.length - 1].conversacionID)

                    div(class="space-y-5 mt-10")
                        textarea(id="mensaje", name="mensaje", class="w-full px-2 py-2 border border-murrey-700 rounded-lg shadow", placeholder="Coloca tu mensaje aquí")
                        input(type="submit" value="Enviar Mensaje" class="bg-murrey-600 text-white font-bold uppercase text-sm w-full p-2 cursor-pointer hover:bg-murrey-900")
                else
                    input(type="hidden" name="messageParentId" value=null)
                    input(type="hidden" name="conversacionID" value=null)
        else
            p(class="text-center text-gray-600 p-5") No hay Mensajes